@font-face {
    font-family: my-popine;
    src: url(./Popines/Poppins-BlackItalic.ttf);
}

body{
    background-color: hsl(0, 0%, 100%);
}
#circle-icon {
    border-radius: 50%;
}
.navbar{
    position: fixed;
    position: static;
    background-color: #ffffff;
    box-shadow: 0.1px .1px 8px .1px;
}
.navbar li {
    margin-left: 10px;
    padding: 5px;
    font-weight: bolder;
}
.donate_btn{
    background-color: greenyellow;
}
.maindiv{
    display: flex;
    justify-content: space-around;
}
.content{
    position: relative;
    width: 100%;
    margin-left: 1rem;
    margin-top: 15rem;
    padding: 2px;
    
    position: relative;
    width: 600px;
    h1{
        font-size: 32px;
        width: 400px;
        font-family: my-popine;
        p{
            color: rgba(172, 255, 47, 0.788);
            display: inline;
        }
    }
    h5{
        margin-top: 2rem;
        width: 500px;
    }
    p{
        font-size: 17px
    }
    #btn{
        padding: 1.4rem;
        width: 10rem;
        border: solid .1px;
    }
}

.images{
    position: relative;
    margin-top: 2rem;
    margin-top: 7rem;
    cursor: pointer;
    
}
.second-nav{
    display: flex;
    justify-content: center;

}
.custom-nav{
    margin-top: 8rem; 
    width: 90%;
    box-shadow: none;
    z-index:-4;
    
    
}
.inside-nav{
    padding: 30px;
    background-color: #f0fcdb;
    display: flex;
    box-shadow: none;
    cursor: pointer;
   
}

.saylani-img {
    display: flex;
    
    justify-content: center;
    margin-top: 3rem;

    #img{
        object-fit: contain;
        height: 80vh;
        box-shadow:3px 3px 3px 3px  rgba(167, 163, 163, 0.582);
    }
}
/* 3rd part to make "what we doning" */
.para{
    /* font-family: my-popine; */
    display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    /* justify-content: space-between; */
    /* padding: 6rem; */
}
.boxes .box {
    width: 200px;
    background-color:#f0fcdb ;
    padding: 1rem;
    border-radius: 18px;
    margin: 2rem;
    h5 {
        margin-top: 2rem;
    }
}

/* purpose of images means deves*/
.purpose-boxes {
    display: flex;
    justify-content: space-around;
}
    .purpose-boxes img {
         width: 25rem; 
         border-radius: 14px;
         /* position: relative; */
         opacity: 0.8;
    }
  .purpose-boxes h5{
        position:absolute;
        color: #ffffff;
        margin-top: -6.5rem;
        font-weight: bolder;
        margin-left: 1rem;
    
    }
    .purpose-boxes .purpose{
        margin-left: 12px;
    }

.btn-style{
    position: relative;
    width: 90%;
    margin: 4px;
    margin-top: -4.8rem;
    
    /* margin-left: 1.5rem; */
}